body {
    margin:0px;
    background-image: url(img/novo.jpg);
    /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/bd/Logo_muonline.jpg);*/
    color:white;
}
.links {
    text-align: center;
    font-size:20px;
    font-weight:bolder;
    /*background: #B2B4BD;*/
    font-family: 'Chilanka';
    border:5px double black;
    border-radius: 5px;
    background: rgba(120, 120, 120, 0.8);
    margin: auto 30%;
}
.login {
    font-family: 'Chilanka';
    text-align:center;
}
h1 {
    text-align: center;
    font-size: 50px;
    /*background-color: #7F1E0A;*/
    margin: auto 30%;
    border-radius: 10px;
    font-family: 'Chilanka';
    padding-top: 9px;
    background: rgba(100, 0, 0, 0.8);
    border: 5px solid black;
}
a {
    text-decoration: none;
    color: rgb(2, 6, 201);
    text-align:center;
    
}
/*a:hover {
    text-decoration: underline;
    
}*/

.cadastro {
    text-align:center;
    font-family: 'Chilanka';
}
 
.opinioes {
    text-align:center;
    margin:30px;
    font-family:'Chilanka';
}
label {
    font-size: 20px;
    display: block;
}
form {
    background: rgba(42, 44, 44, 0.5);
    margin: auto 18%;
    border-radius: 10px;
    border: 5px double white;
    padding-bottom: 30px;
}
.cadastro input[type=text], select {
    width: 400px;
    size: 100px;
    font-size: 15px;
    margin-top: 5px;
    padding: 10px;
    border: 5px solid black;
    outline: 0;
    margin-bottom: 5px;
}
.cadastro input[type=password] {
    width: 400px;
    size: 100px;
    font-size: 15px;
    margin-top: 5px;
    padding: 10px;
    border: 5px solid black;
    outline: 0;
    margin-bottom: 5px;
}
.cadastro input[type=email] {
    width: 400px;
    size: 100px;
    font-size: 15px;
    margin-top: 5px;
    padding: 10px;
    border: 5px solid black;
    outline: 0;
    margin-bottom: 5px;
}
.cadastro input[type=date] {
    outline: 0;
}
.login input {
    width: 200px;
    padding: 10px;
    border: 5px solid black;
    outline: 0;
}
.opinioes textarea{
    border: 5px solid black;
}
input:hover, textarea:hover, select:hover {
    background-color: #B2B4BD;
}
button {
    padding: 10px;
    font-size: 15px;
    border: 2px solid #1b1210;
    background-color: #9db0b1;
    color: #ffffff;
    border-radius: 10px;
}
button:hover {
    background-color: #5b6263;
    padding: 15px;
}
.direitos {
    /*background-image:url(https://as1.ftcdn.net/v2/jpg/05/21/33/56/1000_F_521335684_D9yZn2OP3m8awgJnlJnllxZ7nlU3EcxN.jpg);*/
    background-color: rgba(0, 0, 0, 0.9);
    padding:70px;
    color:white;
    text-align:center;
    border:5px solid rgb(58, 57, 57);
    font-family: 'Chilanka';
}
html, body {
    min-height: 100%;
}
body{
    padding:0;
    margin:0;
}
footer {
    position: absolute;
    /*bottom: 0;*/
    color: #FFF;
    width: 100%;
    height: 5px;    
    text-align: center;
    line-height: 50px;
}
p {
    color: #f0f8ff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Chilanka';
    text-align: center;
    text-transform: normal;
    letter-spacing: 0px;
    word-spacing: 0px;
    line-height: 30px;
    margin: auto 20%;
    background: rgba(0, 0, 0, 0.5);
}
li:hover {
    background-color: #B2B4BD;
}
.links nav li{
    display: inline;
    font-weight: bold;
    border: 2px solid #f8f8f8;
    padding: 5px;
    /*margin-right: 20px;*/
    color: #000000;
    text-align: center;
    float:initial; 
    
}

h2 {
    color: black;
}
@media (max-width: 1109px){
    body {
        font-size: 15px;
    }
    .links nav li{
        font-size: 17px;
    }
}
@media (max-width: 1037px) {
    body {
        font-size:15px;
         margin: auto 18%;
    }
    .links nav li{
        font-size: 15px;
    }
    
}
@media (max-width: 990px) {
    body {
        font-size:13px;
    }
    .links nav li, label{
        font-size: 13px;
    }

}
@media (max-width: 768px) {
    body {
        font-size:10px;
    }
    .links nav li, label{
        font-size: 10px;
    }
    input {
        padding: 0px;
    }

}
